/*
scss highlight and refactor ⌘+Ctrl+E
COLORS:

Light green: $color-primary-light
Medium green: $color-primary
Dark green:$color-primary-dark

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-light-gray: #eee;



// GRID LAYOUT
$grid-width: 71.25rem;
$gutter-vertical: 5rem;