.row {
    // width 1140 px
    max-width: $grid-width;
    background-color: $color-light-gray;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    @include clearfix;
    // #{} to use variables in the calc function
    .col-1-0f-2{
        width:calc((100% - #{$gutter-horizontal})/2);
        background-color: orangered;
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
}