.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2.5rem;
        display: inline-block;
        border-radius: 6.25rem;
        transition: all .03s;
        position: relative;
    }
    &-white {
        background: $color-white;
        color: $color-gray-dark;
        &::after {
            background: $color-white;
        }
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.331);
        &::after {
            /* content and display are mandatory */
            transform: scale(1.5);
            /*&::after has transition and this will take .04s for opacity to reach 0  */
            opacity: 0;
        }
    }
    /* when we click on an element */
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.131);
    }
    &::after {
        /* content and display are mandatory */
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 6.25rem;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        transition: all .4s;
    }
    &-animated {
        /* name,duration,effect,delay */
        /* not driving every day this helps you remember wher the properties go */
        animation: moveInBottom .75s ease-in .75s;
        /* I have a delay on  my animation that is Why i use fill-mode to apply the style on keyframe */
        animation-fill-mode: backwards;
    }
}