

.feature-box{
    background-color: rgba($color-white, 0.76);
    font-size:1.2rem;
    padding: 2.1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.2rem 2rem rgba($color-black, 0.16);
    &_icon{

    }
    &_text{

    }
}  