.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    // @include respond(tab-port) {
    //     width: 100%;
    //     padding: 4rem;
    //     padding-left: 7rem;
    // }

    // @include respond(phone) {
    //     transform: skewX(0);
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        //don't use margin use translate to move element left
        //note: best way to move a floated element is to use translate and not margin
        //only one tranform can be used at a time
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        //     -webkit-clip-path: circle(50% at 50% 50%);
        //     clip-path: circle(50% at 50% 50%);
        //      note:radius is the 1st number element must be float for shape outside and height and width must be defined
       //       note: best way to move a floated element is to use translate and not margin
        //     -webkit-shape-outside: circle(50% at 50% 50%);
        //     shape-outside: circle(50% at 50% 50%);
        //     border-radius: none;
        // }

        // @include respond(phone) {
        //     transform: translateX(-3rem) skewX(0);
        // }
    }

    &__img {
        //all responsive img need a width property 
        //since this img is large dont need to define width just the height in this case
        height: 100%;
        transform: translateX(-4rem) scale(1.4);//moves the img to the left
        backface-visibility: hidden;//this correct a glicth when using the translate property
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        // @include respond(phone) {
        //     transform: skewX(0);
        // }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;//stop letters from shaking during animation
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);//zoom out when hovered
        filter: blur(3px) brightness(80%);
    }
}